/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.logoTitle {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    padding: 10px 0 0 30px;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 50px;
    background: rgba(59, 118, 195, 0.80);
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

div.inline {
    float: right;
    margin: 0px 5px 0px 5px;
}

#topMenuLinks {

}

#topMenuLinks a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    float:right;
    margin: -5px 15px 0px 0px;
}

/*#topMenuLinks div:hover {*/
    /*padding: 20px 0 20px 0;*/
    /*padding-top: 20px;*/
    /*padding-bottom: 19px;*/
    /*margin-top: -20px;*/
    /*margin-bottom: -19px;*/
    /*background: #05A523;*/
/*}*/

#topMenuLinks a:link{
    COLOR: #00005d;
}

#topMenuLinks a:visited {
    COLOR: #00005d;
}

#topMenuLinks a:hover {
    COLOR: #0000a5;
}

#topMenuLinks a:active {
    COLOR: #0000a4;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    padding: 0 0 10px;
    position: relative;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.content {
    padding: 10 0 0 205px;
}

#avatar {
    float: left;
    padding: 3px 0 10px 0;
    margin-right: 15px;
}

#summary {
    float: none;
    padding-left: 10px;
    margin-left: 10px;
}

#summary #profileName {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
}

#summary div {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
}

.contentChapter {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.subtitle {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    text-align: center;
}

.linkToUser {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000089;
    font-weight: bold;
}

.linkToUser a:hover{
    color: #0000d2;
}

.editLabel {

}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
    float: left;
    width: 180px;
    margin-top: 5px;
    margin-left: -100%;
    padding-left: 10px;
    position: relative;
    background: rgba(5, 165, 35, 0.78);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#leftMenuLinks {
    margin: 5 0 5 10;
}

#leftMenuLinks a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#leftMenuLinks a:link{
    COLOR: #00005d;
}

#leftMenuLinks a:visited {
    COLOR: #00005d;
}

#leftMenuLinks a:hover {
    COLOR: #0000a5;
}

#leftMenuLinks a:active {
    COLOR: #0000a4;
}

#leftLoginFrom {
    margin: 5 0 5 10;
}

#leftLoginFrom #logSubmit {
    width: 150px;
}

#leftLoginFrom #email {
    width: 150px;
}

#leftLoginFrom #password {
    width: 150px;
}

.thumbAvatar {
    min-height: 30px;
    min-width: 30px;
    max-width: 30px;
    max-height: 30px;
}

#tableRegistrationForm {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#tableRegistrationForm td {
    vertical-align: middle;
    height: 32px;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 800px;
    margin: -20px auto 0;
    height: 20px;
    background: #f9dd19;
    position: relative;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#errorContainer {
    display: none;
    overflow: auto;
    background-color: #FFDDDD;
    border: 1px solid #FF2323;
    padding-top: 1;
}

#errorContainer label {
    float: none;
    width: auto;
}

input.error {
    border: 1px solid #FF2323;
}

#registrationForm {
    width: 250;
}

#registrationForm input {

    float: right;
}